body {
 background-image: url("https://export-download.canva.com/URzis/DAGXIaURzis/5/0/0001-384379511853505584.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20241120%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241120T205358Z&X-Amz-Expires=82971&X-Amz-Signature=bed8ac0b8992496c09d90a1fecd025b9935018dff471ec51707fa2c28f140f1c&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27Untitled%2520design.png&response-expires=Thu%2C%2021%20Nov%202024%2019%3A56%3A49%20GMT");

}

p {
  font-family: arial;
  color: dark-gray;
  size: 50px;
}

bold {
  background-color: rgba(160, 240,20,0.502);
}
