body {
  background-image: url("imgs/64backG.png");
  background-repeat: no-repeat;
  background-size: auto;
}

p {
  text-align: center;
  font-family: arial;
  size: 50px;
  color: white;
}

bold {
  background-color: rgba(160, 240,20,0.502);
}

t1 {
  position: auto;
}

t2 {
  position: auto;
}

t3 {
  position: auto;
}

